<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>実行結果</h1>
    <table style="border:1px; width:400px;"><tr><th>ID</th><th>名前</th></tr>
    <?php
        print '';
        foreach($data as $element){
            print "
            <tr>
              <td>
                {$element['id']}
              </td>
              <td>
                {$element['name']}
              </td>
            </tr>";
        }
    ?>
    </table>
  </body>
</html>